<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Glider-seller</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/catalogue" routerLinkActive="active" (click)='onClick()'>Catalogue</a>
        <a class="nav-item nav-link" routerLink="/panier" routerLinkActive="active" (click)='onClick()'>Panier <span class="badge badge-pill badge-primary">{{nbProduct}}</span></a>
      </div>
        <div class="ml-auto" *ngIf="!connected" class="ml-auto">
          <a class="btn btn-outline-warning ml-auto mr-2" routerLink="/compte" routerLinkActive="active" type="submit" (click)='onClick()'>Inscription</a>
          <a class="btn btn-outline-success ml-auto"   routerLink="/connexion" routerLinkActive="active" type="submit" (click)='onClick()'>Connexion</a>
        </div>
        <div class="ml-auto" *ngIf="connected" class="ml-auto">
          <a class="btn btn-outline-warning ml-auto mr-2" routerLinkActive="active" type="submit" (click)='onClickCompte()'>Mon compte</a>
          <a class="btn btn-outline-danger ml-auto" routerLink="/connexion" routerLinkActive="active" type="submit" (click)='onClickDisconect()'>Deconnection</a>
        </div>
      </div>
  </nav>
  <router-outlet></router-outlet>
