<div class="container">
<div class="card">
  <h5 class="card-header">Détail</h5>
  <div *ngFor='let item of product | async' class="card-body">
    <h5 class="card-title">{{ item.type }}</h5>
    <h5 class="card-title">{{ item.brand }}</h5>
    <p class="card-text">{{ item.price }}</p>
    <button class="btn btn-primary">Acheter</button>
  </div>
</div>
</div>
