<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown">
  <div id="formContent">
      <input type="text" class="fadeIn second" placeholder="login" [(ngModel)]="login">
      <input type="password" class="fadeIn third" placeholder="password" [(ngModel)]="password">
      <input type="submit" class="fadeIn fourth" value="Connection" (click)="connect()">
  </div>
</div>
