<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Produit</th>
          <th class="text-center">Prix</th>
          <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of catalogue | async">
          <td class="col-sm-10 col-md-10">
            <div class="media">
              <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
              <div class="media-body">
                <h4 class="media-heading"><a href="#">{{ product.type }}</a></h4>
                <h5 class="media-heading"> by <a href="#">{{ product.brand }}</a></h5>
                <span>Status: </span><span class="text-success"><strong>En Stock</strong></span>
              </div>
            </div></td>
          <td class="col-sm-2 col-md-2 text-center"><strong>{{ product.price }}€</strong></td>
          <td class="col-sm-1 col-md-1">
            <button type="button" class="btn btn-danger" (click)='onClick(product)'>
              <span class="glyphicon glyphicon-remove"></span> Supprimer
            </button></td>
        </tr>
        <tr>
          <td>   </td>
          <td>   </td>
          <td>   </td>
        </tr>

        <tr>
          <td>   </td>
          <td><h3>Total</h3></td>
          <td class="text-right"><h3><strong>{{totalPrice}}€</strong></h3></td>
        </tr>
        <tr>
          <td>   </td>
          <td></td>
          <td>
            <button type="button" class="btn btn-success">
              Paiement <span class="glyphicon glyphicon-play"></span>
            </button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
