  <h2>Bienvenue {{user.firstName}} </h2>

  <fieldset class="border p-3">
    <legend class="w-auto">Vos Informations Personnelles</legend>
    <ul>
        <li>Nom : {{user.lastname | uppercase}}</li>
        <li>Prénom : {{user.firstName}}</li>
        <li>Adresse : {{user.adress}}</li>
        <li>Code Postal : {{user.postalCode}}</li>
        <li>Ville : {{user.city}}</li>
        <li>Téléphone : {{user.phone}}</li>
        <li>E-mail : {{user.email}}</li>
        <li>Civilité: {{user.sex}}</li>
        <li>Login : {{user.login}}</li>
    </ul>
  </fieldset>
