<div class="container">
  <div class="row">
    <input type="text" class="form-control mt-4" placeholder="Filtre par nom d'article" [(ngModel)]="searchTerm"/>
      <div *ngFor="let product of filteredProducts">
        <div class="col-sm m-1 mt-4">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/e/e1/PH-1274_Rolladen-Schneider_LS-4b.JPG" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ product.type }}</h5>
              <p class="card-text">Constructeur : {{ product.brand }}</p>
              <h6 class="card-subtitle mb-2 text-muted">{{ product.price }} € </h6>
              <button class="btn btn-primary ml-2" (click)='onClick(product)'>Commander</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
